.overview {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.overviewItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.overviewItem > span {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  color: #eee;
  background-color: #333;
}

.answerOverview {
  background-color: #f7c5cc;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  font-weight: bold;
}

.correct {
  color: #367415;
}

.wrong {
  color: #fd2b2b;
}

.skipped {
  color: #ebe4df;
  color: #333;
}
